<!DOCTYPE html>
<html lang="en">

    {{>head}}

<body>

    {{> header}}

    <div class='service'>
        <h2>Сервіс отримання данних про погоду</h2>
        <div class="button" >
            <a href="/weather">Сторінка погоди</a>
        </div>

    </div>


    <script type='text' src='./js/script.js'></script>
</body>

</html>