<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    
    {{> header}}


<div class='weather'>
    <div class='weatherButtons'>
        <ul class='listCity'>
            <li class='listCityItem' id="navigatorCity" style="display:none"></li>
            <li class='listCityItem' id="zhytomyr">Житомир</li>
            <li class='listCityItem' id="kyiv">Київ</li>
            <li class='listCityItem' id="poltava">Полтава</li>
            <li class='listCityItem' id="sumy">Суми</li>
        </ul>
    </div>
    <div class='weatherInfo'>
    </div>
</div>


    {{>footer}}
    <script type='module' src='./js/script.js'></script>
    
    <script>
        
    </script>
</body>

</html>